<app-page-breadcrumbs title="Buttons"></app-page-breadcrumbs>


<div class="row mb-2">
    <div class="col-sm-6">
        <app-card-design title="Default Buttons" [htmlCode]="htmlCode1" [cssCode]="cssCode1" [tsCode]="tsCode1">
            <button type="button" class="btn btn-primary m-1">Primary</button>
            <button type="button" class="btn btn-secondary m-1">Secondary</button>
            <button type="button" class="btn btn-success m-1">Success</button>
            <button type="button" class="btn btn-danger m-1">Danger</button>
            <button type="button" class="btn btn-warning m-1">Warning</button>
            <button type="button" class="btn btn-info m-1">Info</button>
            <button type="button" class="btn btn-light m-1">Light</button>
            <button type="button" class="btn btn-dark m-1">Dark</button>
            <button type="button" class="btn btn-link m-1">Link</button>
          </app-card-design>
    </div>
    <div class="col-sm-6">
        <app-card-design title="Outline Buttons" [htmlCode]="htmlCode2" [cssCode]="cssCode2" [tsCode]="tsCode2">
            <button type="button" class="btn btn-outline-primary m-1">Primary</button>
            <button type="button" class="btn btn-outline-secondary m-1">Secondary</button>
            <button type="button" class="btn btn-outline-success m-1">Success</button>
            <button type="button" class="btn btn-outline-danger m-1">Danger</button>
            <button type="button" class="btn btn-outline-warning m-1">Warning</button>
            <button type="button" class="btn btn-outline-info m-1">Info</button>
            <button type="button" class="btn btn-outline-light m-1">Light</button>
            <button type="button" class="btn btn-outline-dark m-1">Dark</button>
        </app-card-design>
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-6">
        <app-card-design title="Button Sizes" [htmlCode]="htmlCode3" [cssCode]="cssCode3" [tsCode]="tsCode3">
            <button type="button" class="btn btn-primary btn-sm m-1">Small button</button>
            <button type="button" class="btn btn-secondary m-1">Normal button</button>
            <button type="button" class="btn btn-success btn-lg m-1">Large button</button>
            <button type="button" class="btn btn-outline-warning btn-sm m-1">Small button</button>
            <button type="button" class="btn btn-outline-info m-1">Normal button</button>
            <button type="button" class="btn btn-outline-danger btn-lg m-1">Large button</button>
        </app-card-design>
    </div>
    <div class="col-sm-6">
        <app-card-design title="Button States" [htmlCode]="htmlCode4" [cssCode]="cssCode4" [tsCode]="tsCode4">
            <button type="button" class="btn btn-primary m-1" disabled>Primary button</button>
            <button type="button" class="btn btn-secondary m-1" disabled>Button</button>
            <button type="button" class="btn btn-outline-primary m-1" disabled>Primary button</button>
            <button type="button" class="btn btn-outline-secondary m-1" disabled>Button</button>
        </app-card-design>
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-6">
        <app-card-design title="Block Buttons" [htmlCode]="htmlCode5" [cssCode]="cssCode5" [tsCode]="tsCode5">
            <div class="d-grid gap-2">
                <button class="btn btn-primary m-1" type="button">Button</button>
                <button class="btn btn-primary m-1" type="button">Button</button>
            </div>
        </app-card-design>
    </div>
    <div class="col-sm-6">
        <app-card-design title="Rounded Buttons" [htmlCode]="htmlCode6" [cssCode]="cssCode6" [tsCode]="tsCode6">
            <button type="button" class="btn btn-primary rounded-pill m-1">Primary</button>
            <button type="button" class="btn btn-secondary rounded-pill m-1">Secondary</button>
            <button type="button" class="btn btn-success rounded-pill m-1">Success</button>
            <button type="button" class="btn btn-danger rounded-pill m-1">Danger</button>
            <button type="button" class="btn btn-warning rounded-pill m-1">Warning</button>
            <button type="button" class="btn btn-info rounded-pill m-1">Info</button>
            <button type="button" class="btn btn-light rounded-pill m-1">Light</button>
            <button type="button" class="btn btn-dark rounded-pill m-1">Dark</button>
            <button type="button" class="btn btn-link rounded-pill m-1">Link</button>
        </app-card-design>
    </div>
</div>